<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.dao.CustCartDao">

    <!--查询购物车列表-->
    <select id="listCustCart" parameterType="java.lang.String"
            resultType="com.xzsd.app.entity.CustCartInfo">
      select
        a.shopcar_id shopcarId,
        a.shop_id shopId,
        a.shop_name shopName,
        b.sell_price sellPrice,
        b.commodity_id commodityId,
        (select f.path from t_file f where f.biz_id = a.commodity_id order by f.create_time asc limit 1) as path
      from t_cust_cart a
        left join t_commodity b on a.commodity_id = b.commodity_id
      where a.customer_id = #{customerId}
      and a.is_delete = 0
    </select>
</mapper>