<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.dao.GoodsHotDao">

    <!--查询热门商品列表-->
    <select id="listGoodsHot" parameterType="com.xzsd.app.entity.GoodsHotInfo"
            resultType="com.xzsd.app.entity.GoodsHotInfo">
        select
        a.commodity_id commodityId,
        b.commodity_name commodityName,
        b.sell_price sellPrice,
		c.path
        from t_goods_hot a
        left join t_commodity b on b.commodity_Id = a.commodity_id
        left join t_file c on b.commodity_id = c.biz_id
        where a.is_delete = 0
        order by a.goodshot_nun desc
    </select>
</mapper>